In [1]:
import numpy as np 
import pandas as pd

c:\Users\miran\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [8]:
#Import data
filename = 'Motor_Vehicle_Collisions_-_Crashes_20250415.csv'

df = pd.read_csv(filename)

#Print the header
print(df.head())

C:\Users\miran\AppData\Local\Temp\ipykernel_16640\2499685931.py:4: DtypeWarning: Columns (3,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

   CRASH DATE CRASH TIME    BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0  12/14/2021      14:58  MANHATTAN  10017.0  40.751440 -73.973970
1  12/14/2021      16:50     QUEENS  11413.0  40.675884 -73.755770
2  12/14/2021      23:10     QUEENS  11434.0  40.666840 -73.789410
3  12/14/2021      17:15   BROOKLYN  11211.0  40.710957 -73.951126
4  09/22/2022      16:16     QUEENS  11418.0  40.698257 -73.826320

                  LOCATION         ON STREET NAME CROSS STREET NAME  \
0    (40.75144, -73.97397)               3 AVENUE    EAST 43 STREET
1   (40.675884, -73.75577)  SPRINGFIELD BOULEVARD   EAST GATE PLAZA
2    (40.66684, -73.78941)   NORTH CONDUIT AVENUE        150 STREET
3  (40.710957, -73.951126)           GRAND STREET      UNION AVENUE
4   (40.698257, -73.82632)             123 STREET         89 AVENUE

  OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 2  \
0             NaN  ...                    Unspecified
1             NaN  ...                    Unspecified
2             NaN  ...                    Unspecified
3             NaN  ...                    Unspecified
4             NaN  ...                    Unspecified

   CONTRIBUTING FACTOR VEHICLE 3  CONTRIBUTING FACTOR VEHICLE 4  \
0                            NaN                            NaN
1                            NaN                            NaN
2                            NaN                            NaN
3                            NaN                            NaN
4                            NaN                            NaN

   CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  VEHICLE TYPE CODE 1  \
0                            NaN       4486519                Sedan
1                            NaN       4487127                Sedan
2                            NaN       4486635                Sedan
3                            NaN       4486556                  Bus
4                            NaN       4566408                Sedan

                   VEHICLE TYPE CODE 2  VEHICLE TYPE CODE 3  \
0  Station Wagon/Sport Utility Vehicle                  NaN
1  Station Wagon/Sport Utility Vehicle                  NaN
2                                Sedan                  NaN
3  Station Wagon/Sport Utility Vehicle                  NaN
4                            E-Scooter                  NaN

  VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5
0                 NaN                 NaN
1                 NaN                 NaN
2                 NaN                 NaN
3                 NaN                 NaN
4                 NaN                 NaN

[5 rows x 29 columns]

In [9]:
#split up the date into year, month, day
df['CRASH DATE'] = pd.to_datetime(df['CRASH DATE'], format='%m/%d/%Y')
df['Year'] = df['CRASH DATE'].dt.year

print(df.head())

  CRASH DATE CRASH TIME    BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0 2021-12-14      14:58  MANHATTAN  10017.0  40.751440 -73.973970
1 2021-12-14      16:50     QUEENS  11413.0  40.675884 -73.755770
2 2021-12-14      23:10     QUEENS  11434.0  40.666840 -73.789410
3 2021-12-14      17:15   BROOKLYN  11211.0  40.710957 -73.951126
4 2022-09-22      16:16     QUEENS  11418.0  40.698257 -73.826320

                  LOCATION         ON STREET NAME CROSS STREET NAME  \
0    (40.75144, -73.97397)               3 AVENUE    EAST 43 STREET
1   (40.675884, -73.75577)  SPRINGFIELD BOULEVARD   EAST GATE PLAZA
2    (40.66684, -73.78941)   NORTH CONDUIT AVENUE        150 STREET
3  (40.710957, -73.951126)           GRAND STREET      UNION AVENUE
4   (40.698257, -73.82632)             123 STREET         89 AVENUE

  OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 3  \
0             NaN  ...                            NaN
1             NaN  ...                            NaN
2             NaN  ...                            NaN
3             NaN  ...                            NaN
4             NaN  ...                            NaN

   CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                            NaN                            NaN       4486519
1                            NaN                            NaN       4487127
2                            NaN                            NaN       4486635
3                            NaN                            NaN       4486556
4                            NaN                            NaN       4566408

   VEHICLE TYPE CODE 1                  VEHICLE TYPE CODE 2  \
0                Sedan  Station Wagon/Sport Utility Vehicle
1                Sedan  Station Wagon/Sport Utility Vehicle
2                Sedan                                Sedan
3                  Bus  Station Wagon/Sport Utility Vehicle
4                Sedan                            E-Scooter

   VEHICLE TYPE CODE 3  VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5  Year
0                  NaN                  NaN                 NaN  2021
1                  NaN                  NaN                 NaN  2021
2                  NaN                  NaN                 NaN  2021
3                  NaN                  NaN                 NaN  2021
4                  NaN                  NaN                 NaN  2022

[5 rows x 30 columns]

In [10]:
# Remove years 2012 and 2025
df = df[(df['Year'] != 2012) & (df['Year'] != 2025)]

print(df.head())

  CRASH DATE CRASH TIME    BOROUGH ZIP CODE   LATITUDE  LONGITUDE  \
0 2021-12-14      14:58  MANHATTAN  10017.0  40.751440 -73.973970
1 2021-12-14      16:50     QUEENS  11413.0  40.675884 -73.755770
2 2021-12-14      23:10     QUEENS  11434.0  40.666840 -73.789410
3 2021-12-14      17:15   BROOKLYN  11211.0  40.710957 -73.951126
4 2022-09-22      16:16     QUEENS  11418.0  40.698257 -73.826320

                  LOCATION         ON STREET NAME CROSS STREET NAME  \
0    (40.75144, -73.97397)               3 AVENUE    EAST 43 STREET
1   (40.675884, -73.75577)  SPRINGFIELD BOULEVARD   EAST GATE PLAZA
2    (40.66684, -73.78941)   NORTH CONDUIT AVENUE        150 STREET
3  (40.710957, -73.951126)           GRAND STREET      UNION AVENUE
4   (40.698257, -73.82632)             123 STREET         89 AVENUE

  OFF STREET NAME  ...  CONTRIBUTING FACTOR VEHICLE 3  \
0             NaN  ...                            NaN
1             NaN  ...                            NaN
2             NaN  ...                            NaN
3             NaN  ...                            NaN
4             NaN  ...                            NaN

   CONTRIBUTING FACTOR VEHICLE 4  CONTRIBUTING FACTOR VEHICLE 5  COLLISION_ID  \
0                            NaN                            NaN       4486519
1                            NaN                            NaN       4487127
2                            NaN                            NaN       4486635
3                            NaN                            NaN       4486556
4                            NaN                            NaN       4566408

   VEHICLE TYPE CODE 1                  VEHICLE TYPE CODE 2  \
0                Sedan  Station Wagon/Sport Utility Vehicle
1                Sedan  Station Wagon/Sport Utility Vehicle
2                Sedan                                Sedan
3                  Bus  Station Wagon/Sport Utility Vehicle
4                Sedan                            E-Scooter

   VEHICLE TYPE CODE 3  VEHICLE TYPE CODE 4 VEHICLE TYPE CODE 5  Year
0                  NaN                  NaN                 NaN  2021
1                  NaN                  NaN                 NaN  2021
2                  NaN                  NaN                 NaN  2021
3                  NaN                  NaN                 NaN  2021
4                  NaN                  NaN                 NaN  2022

[5 rows x 30 columns]

In [11]:
# Save the merged DataFrame to a CSV file
df.to_csv("sorted_data.csv", index=False)